<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="container">
    <div>
      <h2>회원가입</h2>
    </div>
    <form action="/auth/signUp" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email">
        <br/>
        <label for="password">PW</label>
        <input type="text" id="password" name="password" placeholder="Enter your password">
        <br/>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name">
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <a href="/">Home</a>
</body>
</html>